*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif; 
    border: border-box;
}

.navbar1{
    background-color: #0f1111;
    width:device-width;
    height:3.6rem;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-logo{
    height: 3.5rem ;
    width: 7rem ;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.logo{
    

    height: 1.8rem;
    width: 6rem;
}
.nav-in{
    font-size: 0.8rem;
    font-weight: 540;
    position: relative;
    bottom: 0.3rem;

}


.border{
    height: 3.3rem;
    border: 2px solid transparent;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.border:hover{
    border: 2px solid white;
}

/* setting location selector */

.nav-add{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.add-1{
    color: #ccc;
    font-size: 0.7rem;
    margin-left: 1rem;
}
.add-2{
    font-size: 0.9rem;
    font-weight: bold;
    margin-left: 0.2rem;
}
.address-icon{
    display: flex;
    align-items: center;
    

}

/* setting seach bar panel of the navbar */

.nav-search{ 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: pink;
    width: 50rem;
    height: 2.5rem;
    border-radius: 4px;
}

.nav-search:hover{
    border: 2px solid orange;
}
.search-select{
    height: 2.5rem;
    width: 3rem;
    background-color: #f3f3f3;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius:4px ;
    border-right:2px #febd68;
}
.nav-search-bar{
    height: 2.25rem;
    width: 100%;
    font-size: 1rem;
    border: none;
}
.nav-search-logo{
    color: #0f1111;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 2.5rem;
    width: 3rem;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* setting navbar language selector */
.nav-language{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.select-lang{
    border: none;
    background-color:  #0f1111;
    color: white ;
    width: 2.2rem;
    height: 2.5rem;
    font-weight: bold;
}


/* setting navbar account option */
.nav-account{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.acc-line1{
    font-size: 0.7rem;
}

.acc-line2 {
    font-size: 0.9rem;
    font-weight: bold;
}



/*setting return and order option*/
.nav-return{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.return-line1{
    font-size: 0.7rem;
}

.return-line2{
    font-size: 0.9rem;
    font-weight: bold;
}



.nav-cart{
    display: flex;
    justify-content:space-evenly ;
    align-items: center; 
}

.cart-logo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 2.5rem;
    width: 3rem;
    font-size: 1.8rem;

}
.cart-name{
    font-size: 0.9rem;
    padding-top: 1rem;
    font-weight: bold;
    text-align: end; 
    position: relative;
    right: 0.5rem;

}




/* navbar2 content */


.navbar2{
    color: white;
    background-color: #222f3d;
    width: 100%;
    height:2.5rem;
    display: flex;
    
    justify-content:space-evenly;

    align-items: center;
    
}
.navbar2 a{
    text-decoration: none;
    color: white;
    font-size: 0.85rem;
   
    font-weight: 540;
    
}

.nav2-menu{
    
    width: 3rem;
    display: flex;
    justify-content: space-evenly ; 
    position: relative;
    right: 0.5rem;     
    }

.nav2-menu i {
    font-size: 1.2rem;
}

.nav2-menu p {
    font-size: 0.8rem;
    font-weight: bold;
}

.nav2-panel{
    display: flex;
    width: 70%;
    align-items: center;
    position:relative ;
    right: 1rem;
}


.app-link{
    display: flex;
   align-items: center;
   margin-left: 1rem;
   font-weight: bolder;
}
.app-link a{
    font-size:1rem;
    font-weight: bold;
}

.nav2-border{
    border: 2px solid transparent ;
    height: 2.2rem; 
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.nav2-border:hover{
    border: 2px solid white;
}


.content{
    height: 75rem;
}

/* hero section  */


.hero-section{
    background-image: url(hero-pc-image.jpg);
    height: 36rem;
    background-size: cover;

}


/* shop section */

.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center ;
    position: relative ;
    top: 16rem;
    background-color: rgb(40, 40, 133);
}

.box{
    
    height: 26rem;
    width: 23%;
    background-color: #f3f3f3;
    padding: 20px 0px 15px;
    margin-top: 0.4rem;
}

.box-img{
    height: 22rem;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
   
}
.box-content p{
    color: #007185;
}

footer{
    margin-top: 1rem;
} 


.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 23rem;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    padding-top: 1rem;
}
.foot-panel2 a{
    text-decoration: none;
    color:#dddddd;
    display: block;
    font-size: 0.8rem;
    padding-top: 0.6rem;
    
}
.foot-panel2 p{
    font-weight: bolder;
    
}

.foot-panel3{
    height: 4rem;
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    display: flex;
    justify-content: space-evenly ;
    align-items: center;
    padding-left: 25%;
    padding-right: 25%;



}

.foot-logo{
    height: 2rem;
    width: 6rem;
}
.foot-sel-lang{
    color: white;
    background-color: #222f3d  ;
    border: none;
    width: 5rem;
}
.foot-panel4{
    background-color: #0f1111;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}
.foot-panel4 a {
    text-decoration: none;
    color: white;
    margin-left: 1rem;
    font-weight: 100;
    font-size: 0.7rem;
    padding-top: 4rem;
}


.copyright{
    background-color: #0f1111;
    color: white;
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   
    padding-bottom: 2rem;
    


}